/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.reset-page {
    min-height: 100vh;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .35);
    z-index: 999;
}

.reset-card {
    width: 100%;
    max-width: 480px;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(15px);
    border-radius: 22px;
    padding: 45px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .08);
}

.reset-logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.reset-logo {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.reset-card h1 {
    text-align: center;
    font-size: 2rem;
    color: #222;
    margin-bottom: 8px;
}

.reset-card p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.reset-card label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
}

.reset-input {

    display: flex;
    align-items: center;
    gap: 12px;

    border: 1px solid #d9d9d9;

    border-radius: 12px;

    padding: 15px;

    margin-bottom: 20px;

    transition: .3s;

}

.reset-input input:focus{
    outline: none !important;
    box-shadow: none !important;
}

.reset-input:hover {

    border-color: #0d6efd;

}

.reset-input:focus-within {

    border-color: #0d6efd;

    box-shadow: 0 0 0 3px rgba(13, 110, 253, .15);

}

.reset-input input {

    flex: 1;

    border: none;

    outline: none;

    background: transparent;

    font-size: 15px;

}

.reset-input svg {

    color: #777;

    font-size: 18px;

}

.eye-icon {

    cursor: pointer;

}

.reset-btn {

    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 12px;

    background: #0d6efd;

    color: #fff;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    transition: .3s;

}

.reset-btn:hover {

    background: #0056d6;

    transform: translateY(-3px);

}

.back-login {

    margin-top: 20px;

    text-align: center;

}

.back-login a {

    color: #0d6efd;

    text-decoration: none;

    font-weight: 600;

}

.back-login a:hover {

    text-decoration: underline;

}

@media(max-width:768px) {

    .reset-card {

        padding: 30px 25px;

    }

}