@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.payment-page {
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(20px);
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    padding: 110px 20px 40px;

}

.payment-wrapper {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 35px;
}

.payment-card {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 18px;
    padding: 35px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.step {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.payment-card h1 {
    color: #fff;
    margin-bottom: 8px;
}

.payment-card>p {
    color: #fff;
    margin-bottom: 30px;
}

.payment-section {
    margin-bottom: 35px;
}

.payment-section h3 {
    color: #fff;
    margin-bottom: 18px;
}

.payment-option {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.10);
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 14px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
}

.payment-option:hover {
    border-color: #0d6efd;
}

.payment-option.active {
    border: 2px solid #0d6efd;
    background: rgba(255, 255, 255, 0.10);

}

.payment-option.disabled {
    opacity: .6;
    cursor: not-allowed;
}

.payment-option input {
    transform: scale(1.2);
}

.payment-option div {
    flex: 1;
}

.payment-option strong {
    display: block;
    margin-bottom: 5px;
}

.payment-option p {
    color: #fff;
    font-size: 14px;
}

.address-box {
    border: 1px solid #eee;
    border-radius: 14px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.10);


}

.address-box p {
    margin-bottom: 8px;
    color: #fff;
}

.place-order-btn {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background: #0d6efd;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.place-order-btn:hover {
    background: #0056d6;
    transform: translateY(-2px);
}

.payment-right {
    position: sticky;
    top: 100px;
    height: fit-content;
}

@media(max-width:992px) {

    .payment-wrapper {
        grid-template-columns: 1fr;
    }

    .payment-right {

        position: static;

    }

}

@media(max-width:768px) {

    .payment-card {

        padding: 25px;

    }

}