@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.change-password-overlay {

    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .45);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    backdrop-filter: blur(5px);

}

.change-password-modal {

    width: 100%;
    max-width: 470px;

    background: #fff;

    border-radius: 22px;

    padding: 35px;

    position: relative;

    animation: popup .25s ease;

    box-shadow: 0 15px 40px rgba(0, 0, 0, .15);

}

@keyframes popup {

    from {

        opacity: 0;
        transform: scale(.9);

    }

    to {

        opacity: 1;
        transform: scale(1);

    }

}

.close-btn {

    position: absolute;

    right: 18px;

    top: 18px;

    border: none;

    background: none;

    cursor: pointer;

    font-size: 20px;

    color: #666;

    transition: .3s;

}

.close-btn:hover {

    color: #0d6efd;

}

.change-password-modal h2 {

    text-align: center;

    margin-bottom: 8px;

    color: #222;

}

.change-password-modal p {

    text-align: center;

    color: #777;

    margin-bottom: 30px;

    font-size: 14px;

}

.change-password-modal label {

    display: block;

    margin-bottom: 10px;

    margin-top: 18px;

    font-size: 14px;

    font-weight: 600;

    color: #333;

}

.password-input {

    display: flex;

    align-items: center;

    gap: 12px;

    border: 1px solid #ddd;

    border-radius: 12px;

    padding: 15px;

    transition: .3s;

}

.password-input:hover {

    border-color: #0d6efd;

}

.password-input:focus-within {

    border-color: #0d6efd;

    box-shadow: 0 0 0 3px rgba(13, 110, 253, .12);

}

.password-input svg {

    color: #777;

    font-size: 17px;

}

.password-input input {

    flex: 1;

    border: none;

    outline: none;

    font-size: 15px;

    background: transparent;

}

.password-input input:focus{
    box-shadow: none !important;
}

.password-input span {

    cursor: pointer;

    color: #666;

}

.update-password-btn {

    width: 100%;

    margin-top: 30px;

    border: none;

    padding: 16px;

    border-radius: 12px;

    background: #0d6efd;

    color: #fff;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    transition: .3s;

}

.update-password-btn:hover {

    background: #0056d6;

    transform: translateY(-2px);

}

.update-password-btn:disabled {

    opacity: .7;

    cursor: not-allowed;

    transform: none;

}

@media(max-width:768px) {

    .change-password-modal {

        margin: 20px;

        padding: 25px;

    }

}