.contact-info {
    width: 90%;
    height: 350px;
    background: #fff;
    padding: 10px 20px;
    top: 80px;
}

.contact-info h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.contact-info p {
    font-size: 12px;
    margin-bottom: 18px;
}

.info-card {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.info-icon {
    font-size: 12px;
    color: #0d6efd;
    margin-top: 3px;
}

.info-card h4 {
    font-size: 12px;
}

.info-card p {
    color: #666;
    line-height: 1.6;
}

.socialInfo {
    border-top: 1px solid black;
    padding-top: 8px;

}

.socialicons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    padding-top: 12px;


}

.socialicons a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: rgb(247, 247, 247);
    padding: 12px;
    padding-bottom: 6px;
    border-radius: 50%;
}

.socialicons a:hover {
    background-color: var(--BLUE);
    color: white;
    cursor: pointer;
    transform: translateY(-4px);
    transition: 0.3s;
}

@media (max-width:480px) {
    .contact-info {
        width: 100%;
        height: 90vh;
        background: #fff;
        padding: 6px 12px;
        top: 80px;
    }

    .contact-info h2 {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .contact-info p {
        font-size: 10px;
        margin-bottom: 12px;
    }

    .info-card {
        display: flex;
        align-items: flex-start;
        gap: 6px;
    }

    .info-icon {
        font-size: 16px;
        color: var(--BLUE);
    }

    .info-card h4 {
        margin-bottom: 6px;
        font-size: .8rem;
    }

    .info-card p {
        color: #666;
        line-height: 1.6;
        font-size: .6rem;
    }

    .socialInfo {
        margin-top: -340px;
        border-top: 1px solid black;
        padding-top: 8px;
    }

    .socialInfo h3 {
        font-size: 16px;
    }

    .socialicons {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;
        padding-top: 6px;


    }

    .socialicons a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 20px;
        background-color: rgb(247, 247, 247);
        padding: 14px 18px;
        padding-bottom: 10px;
        border-radius: 50%;
    }

    .socialicons a:hover {
        background-color: var(--BLUE);
        color: white;
        cursor: pointer;
        transform: translateY(-2px);
        transition: 0.3s;
    }
}