* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BLUE: #2992ff;
}

.stats-section {
    width: 70%;
    height: 250px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.stat-card {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}

.stat-card:hover {
    transform: translateY(-8px);
}

.stat-icon {
    font-size: 35px;
    color: var(--BLUE);
    margin-bottom: 20px;
}

.stat-card h2 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.stat-card p {
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .7rem;
}

@media(max-width:768px) {
    .stats-section {
        grid-template-columns: 1fr;
    }

}

@media (max-width:480px) {
    .stats-section {
        padding-top: 20px;
        width: 100px;
        height: 60px;
        margin: 12px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:12px;
    }

    .stat-card {
        width: 100px;
        height: 100px;
        background: #fff;
        padding: 6px;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
        transition: .3s;
    }

    .stat-card:hover {
        transform: translateY(-8px);
    }

    .stat-icon {
        font-size: 12px;
        margin-top: 12px;
        color: var(--BLUE);
    }

    .stat-card h2 {
        margin-top: -12px;
        font-size: 12px;
    }

    .stat-card p {
        color: #666;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 6px;
    }
}