:root {
    --BLUE: #2992ff;
}

.team-section {
    width: 90%;
    margin: 100px auto;
}

.team-heading {
    text-align: center;
    margin-bottom: 60px;
}

.team-heading h5 {
    color: var(--BLUE);
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 16px;
}

.team-heading h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.team-heading p {
    font-size: 16px;
    color: #666;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

.team-grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.team-card {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}

.team-card img {
    width: 100%;
    height: 520px;
    object-fit: cover;
}

.team-card h3 {
    margin-top: 20px;
    color: var(--BLUE);
}

.team-card span {
    display: block;
    color: #777;
    margin: 10px 0 25px;
}

@media (max-width:480px) {
    .team-section {
        width: 90%;
        margin: 100px auto;
    }

    .team-heading {
        text-align: center;
        margin-bottom: 60px;
    }

    .team-heading h5 {
        color: var(--BLUE);
        letter-spacing: 2px;
        margin-bottom: 12px;
        font-size: 8px;
    }

    .team-heading h2 {
        font-size: 1rem;
        margin-bottom: 6px;
    }

    .team-heading p {
        color: #666;
        max-width: 700px;
        margin: auto;
        line-height: 1.8;
        font-size: .6rem;
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 12px;
    }

    .team-card {
        width: 100%;
        height: 200px;
        background: #fff;
        border-radius: 6px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
        transition: .3s;
        cursor: pointer;
    }

    .team-card img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        object-position: center 20%;
    }

    .team-card h3 {
        margin-top: 1px;
        font-size: 8px;
        color: var(--BLUE);
    }

    .team-card span {
        margin-top: 2px;
        font-size: 6px;
        display: block;
        color: #777;
    }
}