:root {
    --BLUE: #2992ff;
}

.category-card {
    width: 300px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.category-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.category-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.category-icon {
    width: 45px;
    height: 45px;
    font-size: 24px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card:hover img {
    cursor: pointer;
    transform: scale(1.08);
}

.category-card img {
    transition: .4s;
}

.category-card::before {
    cursor: pointer;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, .65),
            transparent);
    z-index: 1;
}

.category-overlay {
    z-index: 2;
}

@media (max-width: 480px) {
    .category-card {
        width: 150px;
        height: 225px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    .category-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .category-overlay {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
    }

    .category-overlay h3 {
        font-size: 12px;
    }

    .category-icon {
        width: 24px;
        height: 24px;
        font-size: 12px;
        background: rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}